################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sistemas-operativos/Actividad2/obj
/sistemas-operativos/Actividad2/bin/Debug/netcoreapp3.1
/programacion-avanzada/semana 3/JavaApplication1/nbproject/private/
/programacion-avanzada/semana 3/JavaApplication1/build/
/programacion-avanzada/semana 3/JavaApplication1/dist/
